<button class="btn btn-primary mb-3" type="button" (click)="onClick()">
  New Product
</button>
<p>
  <input type="text" class="form-control form-control-lg" placeholder="Search..." (keyup)="filter(query)" #query />
</p>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td>{{ p.payload.title }}</td>
      <td>${{ p.payload.price }}</td>
      <td>
        <!-- <a class="text-decoration-none" ">Edit</a> -->
        <button class="btn btn-warning" type="button" (click)="onEdit(p.key)">
          <fa-icon [icon]=" faEdit"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>